Repository liranbg/nuclio, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ui, platform/kubernetes, platform/docker, processor/trigger, nuctl

prepare for k8s integration tests
  cmd/controller/app/controller.go
  pkg/common/k8s.go
  pkg/platform/factory/factory.go
  pkg/processor/test/suite/suite.go
Labels: none

wip
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kubernetes

wip
  pkg/platform/kube/test/platform_test.go
Labels: platform/kubernetes

fix
  pkg/processor/test/suite/suite.go
Labels: none

ensure resources deleted
  pkg/platform/kube/test/platform_test.go
Labels: platform/kubernetes

fix test
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  test/docker/Dockerfile
Labels: platform/kubernetes

add to ci
  .github/workflows/ci.yaml
  test/k8s/ci_assets/install_nuclio_crds.sh
Labels: none

newline
  test/docker/Dockerfile
Labels: none

linted
  pkg/processor/test/suite/suite.go
Labels: none

chmodified
  test/k8s/ci_assets/install_nuclio_crds.sh
Labels: none

add to insecure
  .github/workflows/ci.yaml
Labels: none

fix lint
  pkg/platform/kube/test/platform_test.go
  pkg/processor/test/suite/suite.go
Labels: platform/kubernetes

fix make calls
  .github/workflows/ci.yaml
Labels: none

no tty
  .github/workflows/ci.yaml
  Makefile
Labels: none

insecure
  .github/workflows/ci.yaml
Labels: none

restart before
  .github/workflows/ci.yaml
Labels: none

better
  .github/workflows/ci.yaml
Labels: none

flatten kubeconfig
  .github/workflows/ci.yaml
Labels: none

no hardcoded namespace
  .github/workflows/ci.yaml
  .run/(kube) nuctl test.run.xml
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/project.go
  test/_imports/project.yaml
  test/_imports/projects.yaml
Labels: none

lint <
  pkg/nuctl/test/project_test.go
Labels: none

import project to load default namespace if missing
  .github/workflows/ci.yaml
  pkg/nuctl/command/import.go
Labels: nuctl

upon pr
  .github/workflows/pr_label.yaml
Labels: none

Upon PR (#24)
  .github/workflows/pr_label.yaml
Labels: none

fix
  .github/workflows/pr_label.yaml
Labels: none

test
  pkg/platform/local/platform.go
Labels: platform/docker

test
  pkg/platform/local/platform.go
Labels: platform/docker

name
  .github/workflows/pr_label.yaml
Labels: none

Use pull request target to label (#27)
  .github/workflows/pr_label.yaml
  pkg/platform/local/platform.go
Labels: platform/docker

Update apigateway.go
  pkg/platform/apigateway.go
Labels: none

wip
  go.mod
  go.sum
  pkg/dockerclient/shell.go
Labels: none

wip2
  pkg/dockerclient/api.go
Labels: none

try
  .github/workflows/ci.yaml
Labels: none

do it directly
  .github/workflows/ci.yaml
Labels: none

try
  .github/workflows/ci.yaml
Labels: none

direct
  .github/workflows/ci.yaml
Labels: none

init
  pkg/cmdrunner/cmdrunner.go
  pkg/cmdrunner/cmdrunner_test.go
  pkg/cmdrunner/powershellrunner.go
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/shellrunner_test.go
  pkg/processor/build/runtime/runtime.go
Labels: none

lint + fix client for test
  pkg/cmdrunner/cmdrunner.go
  pkg/dockerclient/shell.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/suite.go
Labels: none

parallel push
  Makefile
Labels: none

revert-me
  .github/workflows/release.yaml
Labels: none

wip
  docs/tasks/benchmarking.md
  hack/benchmark/benchmark.py
Labels: none

.github/labeler.yml:

area/ui:
  - pkg/dashboard/ui/**/*

platform/kubernetes:
  - pkg/platform/kube/**/*

platform/docker:
  - pkg/platform/local/**/*

processor/trigger:
  - pkg/processsor/trigger/**/*

nuctl:
  - pkg/nuctl/command/**/*
