Repository liranbg/nuclio, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ui, platform/kubernetes, platform/docker, processor/trigger, nuctl

full ci
  .github/workflows/ci.yaml
Labels: none

fix indent
  .github/workflows/ci.yaml
Labels: none

fix
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kubernetes

duplicate test
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kubernetes

fix
  pkg/platform/kube/test/suite.go
Labels: platform/kubernetes

update
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kubernetes

bump
  .github/workflows/ci.yaml
  Makefile
  docs/devel/contributing.md
  docs/setup/minikube/getting-started-minikube.md
  test/docker/Dockerfile
Labels: none

prep for integ
  pkg/containerimagebuilderpusher/factory.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
Labels: platform/kubernetes, platform/docker

test-start
  pkg/platform/kube/test/platform_test.go
Labels: platform/kubernetes

small
  pkg/containerimagebuilderpusher/containerimagebuilder.go
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/nop.go
Labels: none

update test
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/test/kaniko_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kubernetes

short
  pkg/containerimagebuilderpusher/factory.go
Labels: none

update
  pkg/containerimagebuilderpusher/test/kaniko_test.go
Labels: none

lint
  pkg/containerimagebuilderpusher/test/kaniko_test.go
Labels: none

test
  pkg/containerimagebuilderpusher/test/kaniko_test.go
Labels: none

debug
  .github/workflows/ci.yaml
Labels: none

init
  .github/workflows/ci.yaml
Labels: none

initial
  .github/workflows/ci.yaml
Labels: none

up
  pkg/nuctl/test/suite.go
Labels: none

upp
  pkg/nuctl/command/import.go
Labels: nuctl

support kaniko options from function annotations
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/nop.go
  pkg/containerimagebuilderpusher/types.go
  pkg/functionconfig/annotationreader.go
  pkg/functionconfig/types.go
  pkg/processor/build/builder.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/types.go
Labels: none

bump action versions
  .github/workflows/ci.yaml
Labels: none

introducing functional test
  .github/workflows/ci.yaml
Labels: none

fix
  .github/workflows/ci.yaml
Labels: none

fixes
  .github/workflows/ci.yaml
Labels: none

fix
  .github/workflows/ci.yaml
Labels: none

fixes
  .github/workflows/ci.yaml
  pkg/platform/kube/test/functional/platform_test.go
Labels: platform/kubernetes

fix
  .github/workflows/ci.yaml
Labels: none

up
  pkg/platform/kube/test/functional/platform_test.go
Labels: platform/kubernetes

debug
  .github/workflows/ci.yaml
Labels: none

debug2
  .github/workflows/ci.yaml
Labels: none

load em one by one
  .github/workflows/ci.yaml
Labels: none

Update .rivi.rules.yaml
  .rivi.rules.yaml
Labels: none

Update Makefile
  Makefile
Labels: none

.github/labeler.yml:

area/ui:
  - pkg/dashboard/ui/**/*

platform/kubernetes:
  - pkg/platform/kube/**/*

platform/docker:
  - pkg/platform/local/**/*

processor/trigger:
  - pkg/processsor/trigger/**/*

nuctl:
  - pkg/nuctl/command/**/*
